/Project1/proteus.pdsprj.Mohsen.mohsen.workspace
/Project1/Project Backups
/Project1/1/build
/Project1/1/1.ino.standard.hex
/Project1/1/1.ino.with_bootloader.standard.hex
/Project1/2/2.ino.standard.hex
/Project1/2/2.ino.with_bootloader.standard.hex
/Project1/3/3.ino.standard.hex
/Project1/3/3.ino.with_bootloader.standard.hex


