/1/Project Backups
/1/build
/1/1.ino.standard.hex
/1/1.ino.with_bootloader.standard.hex
/1/Proteus.pdsprj.Mohsen.mohsen.workspace


/2/Project Backups
/2/build
/2/2.ino.standard.hex
/2/2.ino.with_bootloader.standard.hex
/2/Proteus.pdsprj.Mohsen.mohsen.workspace

/3/Project Backups
/3/build
/3/3.ino.standard.hex
/3/3.ino.with_bootloader.standard.hex
/3/Proteus.pdsprj.Mohsen.mohsen.workspace

/4/Project Backups
/4/build
/4/4.ino.standard.hex
/4/4.ino.with_bootloader.standard.hex
/4/4.pdsprj.Mohsen.mohsen.workspace