/1/Project Backups
/1/build
/1/1.ino.standard.hex
/1/1.ino.with_bootloader.standard.hex
/1/test.pdsprj.Mohsen.mohsen.workspace

/2/Project Backups
/2/build
/2/2.ino.standard.hex
/2/2.ino.with_bootloader.standard.hex
/2/test.pdsprj.Mohsen.mohsen.workspace